@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }

    20% {
        -webkit-transform: rotate(90deg);
    }

    25% {
        -webkit-transform: rotate(90deg);
    }

    45% {
        -webkit-transform: rotate(180deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    70% {
        -webkit-transform: rotate(270deg);
    }

    75% {
        -webkit-transform: rotate(270deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes dropdownAnimation {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }

    to {
        opacity: 1;
        transform: none;
        transform: translate3d(0, 0px, 0);
    }
}


.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.grow.grow-sm:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}