@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");


body {
    font-family: 'Poppins', 'Kanit', sans-serif;
    background: #ffffff;
}

p {
    font-family: 'Poppins', 'Kanit', sans-serif;
    font-size: 1.1em;
    // font-weight: 300;
    line-height: 1.7em;
    /*color: #999;*/
}