.process-zip-file {
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
    width: 35%;
    padding: 20px;
    margin: 20px;
    background: #ffff;
    position: absolute;
    z-index: 20;
    bottom: 5%;
    right: 0;
}