.vertical-menu {
  width: 10px;
  height: 100%;
  text-align: center;
}

.vertical-menu a {
  background-color: rgb(106, 121, 255);
  color: rgb(255, 255, 255);
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: rgb(157, 166, 255);
}

.vertical-menu a.actives {
  background-color: rgb(157, 166, 255);
  color: rgb(255, 255, 255);
}

.select-menu {
  width: 10px;
  height: 100%;
  background-color: rgb(157, 166, 255);
  text-align: center;
  border-radius: 4px;
}

.select-menu sub{
  background-color: rgb(247, 248, 255);
  display: block;
  padding: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  border-radius: 6px;
}

.select-menu sub title{
  background-color: transparent;
  display: block;
  padding: 20px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.select-menu sub.head {
  background-color: rgb(157, 166, 255);
  padding: 20px;
  font-size: 17px;
  color: white;
}

.select-menu sub.head close {
  position: absolute;
  right: 0px;
  top: 2px;
  font-size: 15px;
}

