
    a.btn:link,
    a.btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding:15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
    }

    a.btn:hover {
        color:#fff;
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0,0,0,.2);
    }

    a.btn:active{
        transform :translateY(-1px);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    a.btn-white{
        width: 40%;
        background-color:#00ce68;
        color:#fff;
    }

    a.btn::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top:0;
        left: 0;
        z-index:-1;
        transition: all .4s;
    }

    a.btn-white::after{
        background-color: #00ce68;
    }

    a.btn:hover::after{
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }