
    .card p{
        font-size: 14px;
    }
    a.btn:link,
    a.btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding:15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
    }

    a.btn:hover {
        color:inherit;
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0,0,0,.2);
    }

    a.btn:active{
        transform :translateY(-1px);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    a.btn-green{
        width: 40%;
        background-color:#00ce68;
        color:#fff;
    }

    a.btn-white{
        width: 40%;
        background-color:#fff;
        color:#777;
    }

    a.btn::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top:0;
        left: 0;
        z-index:-1;
        transition: all .4s;
    }

    a.btn-green::after{
        background-color: #00ce68;
    }

    a.btn-white::after{
        background-color: #ffffff;
    }

    a.btn:hover::after{
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

    .card {
        transition: all .4s;
        background-color: rgba(255,255,255,.8);
        height: 500px;
        box-shadow: none;
        border:0;
    }
    .card:hover{
        box-shadow: 0 10px 20px rgba(0,0,0,.2);
        transform: scale(1.1) !important;
    }

    .fa-gradient-blue {
        background: linear-gradient(45deg,#4099ff,#73b4ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-gradient-green {
        background: linear-gradient(45deg,#00ce68,#8eff94);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-gradient-yellow {
        background: linear-gradient(45deg,#FFB64D,#ffcb80);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

