.wrapper-cell {
  display: flex;
}
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.animated-background, .image, .text-line {
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #f6f6f6;
  opacity: 0.5;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

.image {
  height: 60px;
  width: 60px;
}

.text {
  /*margin-left: 20px;*/
  flex-direction: column-reverse;
}

.text-line {
  height: 10px;
  width: 230px;
  margin: 4px 0;
}

.text-ling.md {
  height: 30px;
}

.text-line.lg {
  height: 40px;
}

@media screen and (max-width : 480px){
  .text-line {
    width: 120px;
  }
}
