@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);.bg-c-blue {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg, #FFB64D, #ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg, #FF5370, #ff869a);
}

body {
  font-family: 'Poppins', 'Kanit', sans-serif;
  background: #ffffff;
}

p {
  font-family: 'Poppins', 'Kanit', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  /*color: #999;*/
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }

  20% {
    -webkit-transform: rotate(90deg);
  }

  25% {
    -webkit-transform: rotate(90deg);
  }

  45% {
    -webkit-transform: rotate(180deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
  }

  70% {
    -webkit-transform: rotate(270deg);
  }

  75% {
    -webkit-transform: rotate(270deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes dropdownAnimation {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }
}

@keyframes dropdownAnimation {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }
}

.nav-item a,
.nav-item a:hover,
.nav-item a:focus {
  color: inherit;
  text-decoration: none;
}

.user-dropdown {
  margin-right: 10px;
}

.user-dropdown.dropdown-toggle .fa-angle-right {
  color: #fff;
  display: block;
  position: absolute;
  top: 40%;
  margin-left: 20px;
  right: 5px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.user-dropdown.dropdown-toggle::after {
  display: none;
}

.nav-link .profile-text {
  color: #FFFFFF !important;
}

.navbar-dropdown {
  -webkit-animation-name: dropdownAnimation;
          animation-name: dropdownAnimation;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.navbar-nav .nav-item.show .navbar-dropdown {
  font-size: 0.9rem;
  margin-top: 0;
  position: absolute;
  top: calc(63px - 6px);
  right: 0;
  left: auto;
  border: 1px solid rgba(182, 182, 182, 0.1);
  padding: 0 0 20px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
  overflow: hidden;
}

.nav-link {
  color: inherit;
  font-size: 14px;
  vertical-align: middle;
}

.navbar {
  padding: 15px 10px;
  border: none;
  border-radius: 0;
}

.navbar.default-layout {
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: linear-gradient(120deg, #00e4d0, #5983e8);
}

.navbar .nav-link {
  color: inherit;
  font-size: 14px;
  vertical-align: middle;
}

.navbar .navbar-brand-wrapper {
  transition: width 0.3s ease, background 0.3s ease;
  -webkit-transition: width 0.3s ease, background 0.3s ease;
  width: 250px;
  background: #ffffff;
  height: 63px;
}

.navbar .navbar-brand-wrapper .navbar-brand {
  color: #308ee0 !important;
  margin-right: 0 !important;
  padding: 0.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-brand-wrapper .brand-logo-mini {
  display: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  float: left;
  width: 100%;
}

.sidebar-icon-only .navbar-brand-wrapper {
  width: 80px;
}

.sidebar-icon-only .navbar-brand-wrapper .brand-logo {
  display: none;
}

.sidebar-icon-only .navbar-brand-wrapper .brand-logo-mini {
  display: block !important;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #ffffff;
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sidebar .fa-angle-right {
  -webkit-transform: all .2s;
          transform: all .2s;
}

.sidebar .dropdown-toggle .fa-angle-right {
  display: block;
  position: absolute;
  top: 45%;
  right: 20px;
  -webkit-transition-duration: 0.1s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sidebar .dropdown-toggle[aria-expanded="true"] .fa-angle-right {
  top: 30%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sidebar .dropdown-toggle::after {
  display: none;
}

.sidebar .nav-item a {
  padding: 10px;
  font-size: 14px;
  display: block;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  height: 52px;
  color: #4a4a4a;
}

.sidebar .nav-item a:hover {
  color: #61a3f6;
  background: #fff;
}

.sidebar .nav-item a[data-toggle="collapse"] {
  position: relative;
}

.sidebar .nav-item a i {
  font-size: 1.3em;
  margin-right: 10px;
}

.sidebar .nav-item span {
  font-size: 14px;
}

.sidebar .nav-item.active > a {
  color: #61a3f6;
}

.sidebar .nav-item.active a[aria-expanded="true"] {
  color: #61a3f6;
}

.sidebar .sub {
  padding-left: 30px;
  font-size: 0.8em;
}

.sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
  min-height: calc(100vh - 63vh);
  z-index: 11;
  position: fixed;
}

.sidebar.active .dropdown-toggle .fa-angle-right {
  top: auto;
  right: 45%;
  bottom: 0px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sidebar.active .nav-item a {
  padding: 10px;
  display: block;
  text-align: center;
}

.sidebar.active .nav-item i {
  font-size: 1.3em;
  margin-right: 0;
  display: block;
  margin-bottom: 5px;
}

.sidebar.active .nav-item span {
  display: none;
}

.sidebar.active .sub {
  position: absolute;
  left: 80px;
  width: 250px;
  margin-top: -55px;
  background: #ffffff;
}

.content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #f2f8f9;
  margin-top: 50px;
  margin-left: 250px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content.active {
  margin-left: 80px;
}

#sidebarCollapse {
  color: #FFFFFF;
  margin-left: 20px;
  cursor: pointer;
  background-color: transparent;
}

@media (max-width: 768px) {
  .sidebar {
    margin-left: -80px;
    min-width: 80px;
    max-width: 80px;
  }

  .sidebar .dropdown-toggle .fa-angle-right {
    top: auto;
    right: 45%;
    bottom: 0px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .sidebar .nav-item a {
    padding: 10px;
    display: block;
    text-align: center;
  }

  .sidebar .nav-item i {
    margin-right: 0 !important;
    font-size: 1.3em;
    margin-bottom: 5px;
  }

  .sidebar .nav-item span {
    display: none;
  }

  .sidebar.active {
    margin-left: 0;
  }

  .content {
    margin-left: 0;
  }

  .content.active {
    margin-left: 80px;
  }

  #sidebarCollapse span {
    display: none;
  }

  .navbar.default-layout .navbar-brand-wrapper {
    width: 80px;
  }

  .navbar.default-layout .navbar-brand-wrapper .brand-logo {
    display: none !important;
  }

  .navbar.default-layout .navbar-brand-wrapper .brand-logo-mini {
    display: block !important;
  }
}

.icon-lg {
  font-size: 2.5rem;
}

.icon-md {
  font-size: 1.875rem;
}

.icon-sm {
  font-size: 1rem;
}

