.header-line{
    position:relative;
    border:2px solid #b0c3c7;
    margin:5px;
    margin-top:20px;
    padding:10px;
    padding-top: 20px;
}

.header-title{
    position:absolute;
    top:-14px;
    width:auto;
    background:#f2f8f9;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}