/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";



body {
    font-family: 'Poppins', 'Kanit', sans-serif;
    background: #f2f3f9;
}

p {
    font-family: 'Poppins', 'Kanit', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    /*color: #999;*/
}

.nav-item a,
.nav-item a:hover,
.nav-item a:focus {
    color: inherit;
    text-decoration: none;
    /* transition: all 0.3s;*/
}

.nav-item a.active {
    color: #61a3f6 !important;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.nav-link {
    color: #FFFFFF !important;
}

.navbar-nav .nav-item.show .navbar-dropdown {
    font-size: 0.9rem;
    margin-top: 0;
    position: absolute;
    top: calc(63px - 6px);
    right: 0;
    left: auto;
    border: 1px solid rgba(182, 182, 182, 0.1);
    padding: 0 0 20px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
    overflow: hidden;
}

.navbar.default-layout {
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    box-shadow: none !important;
    background: linear-gradient(120deg, #00e4d0, #5983e8);
}

.navbar.default-layout .nav-link {
    color: inherit;
    font-size: 14px;
    vertical-align: middle;
}

.navbar.default-layout .navbar-brand-wrapper {
    transition: width 0.3s ease, background 0.3s ease;
    -webkit-transition: width 0.3s ease, background 0.3s ease;
    width: 250px;
    background: #ffffff;
    height: 63px;
}


.navbar-nav .dropdown-menu {
    position: absolute !important;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
    float: left;
    width: 100%;
}



.sidebar-icon-only nav.navbar div.navbar-brand-wrapper {
    width: 80px;
}

.sidebar-icon-only nav.navbar div.navbar-brand-wrapper a.brand-logo {
    display: none;
}


.sidebar-icon-only nav.navbar div.navbar-brand-wrapper a.brand-logo-mini {
    display: block !important;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #ffffff;
    color: #000000;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    /* add by team */
    min-height: calc(100vh - 63px);
    z-index: 11;
    position: fixed;
}

#content.active {
    /* add by team */
    margin-left: 80px;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
    align-items: center;
    /*add by team */
    white-space: nowrap;
    height: 52px;
    color: #4a4a4a;
}

#sidebar .list-unstyled .nav-item span {
    font-size: 14px;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.6em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .list-unstyled .nav-item a.dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar.active .list-unstyled .nav-item ul.sub {
    position: absolute;
    left: 80px;
    width: 250px;
    margin-top: -55px;
    background: #ffffff;
}

#sidebar.active .list-unstyled .nav-item span {
    display: none
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #61a3f6;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #61a3f6;
}

a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .list-unstyled .nav-item a.dropdown-toggle::after {
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar .list-unstyled .nav-item a.dropdown-toggle i.fa-angle-right {
    display: block;
    position: absolute;
    top: 45%;
    right: 20px;
    -webkit-transition-duration: 0.1s;
    transform: translateY(-50%);
}

#sidebar .list-unstyled .nav-item a.dropdown-toggle[aria-expanded="true"] i.fa-angle-right {
    top: 30%;
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#sidebar.active .list-unstyled .nav-item a.dropdown-toggle i.fa-angle-right {
    display: none;
}

#sidebar.active .list-unstyled .nav-item a.dropdown-toggle::after {
    display: block;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }

    20% {
        -webkit-transform: rotate(90deg);
    }

    25% {
        -webkit-transform: rotate(90deg);
    }

    45% {
        -webkit-transform: rotate(180deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    70% {
        -webkit-transform: rotate(270deg);
    }

    75% {
        -webkit-transform: rotate(270deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}



ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /* background: #ffffff; */
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: calc(100vh - 63px);
    transition: all 0.3s;
    background-color: #f2f8f9;
    margin-top: 50px;
    /* add by team */
    margin-left: 250px;
    position: relative;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    #sidebar .list-unstyled .nav-item a.dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        display: none;
        font-size: 0.85em;
    }

    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar {
        margin-left: 0;
    }

    #content {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }

    .nav-profile-hide {
        display: none !important;
    }

    .navbar.default-layout .navbar-brand-wrapper {
        width: 80px;
    }

    .brand-logo {
        display: none !important;
    }

    .brand-logo-mini {
        display: block !important;
    }
}

/*icon */
.ic_color {
    color: #979797;
}


#sidebarCollapse {
    color: #FFFFFF;
    margin-left: 20px;
    cursor: pointer;
    background-color: transparent;
}

/* brand */
.navbar.default-layout .navbar-brand-wrapper .navbar-brand {
    color: #308ee0 !important;
    margin-right: 0 !important;
    padding: 0.25rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navbar.default-layout .navbar-brand-wrapper .brand-logo-mini {
    display: none;
}

.sidebar .list-unstyled .nav-item.nav-profile .nav-link {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: auto;
}

.sidebar .list-unstyled.nav-item.nav-profile .nav-link .user-wrapper {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 30px;
}

.sidebar .list-unstyled .nav-item.nav-profile .nav-link .user-wrapper .profile-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.sidebar .list-unstyled .nav-item.nav-profile .nav-link .user-wrapper .profile-image img {
    border-radius: 100%;
    max-width: 100%;
}

.sidebar .list-unstyled .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper {
    margin-left: 15px;
}

.sidebar .list-unstyled .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper {
    margin-left: 0;
    margin-right: 15px;
}

.sidebar .list-unstyled .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper .profile-name {
    font-weight: 500;
    margin-bottom: 8px;
}

.sidebar .list-unstyled .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper .designation {
    margin-right: 3px;
}

.sidebar .list-unstyled :not(.sub-menu)>.nav-item:hover:not(.nav-profile)>.nav-link {
    background: #fafbfc;
    color: #4a4a4a;
}

.sidebar .list-unstyled .nav-item.nav-profile .nav-link .user-wrapper {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 30px;
}

.sidebar .list-unstyled .nav-item.nav-profile .nav-link .user-wrapper .profile-image {
    width: 40px;
    height: 40px;
}

.sidebar .list-unstyled .nav-item.nav-profile .nav-link .user-wrapper .profile-image img {
    border-radius: 100%;
    max-width: 100%;
}

.sidebar .list-unstyled .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper {
    margin-left: 15px;
}

.sidebar .list-unstyled .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper {
    margin-left: 0;
    margin-right: 15px;
}

.sidebar .list-unstyled .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper .profile-name {
    font-weight: 500;
    margin-bottom: 8px;
}

.sidebar .list-unstyled.nav-item.nav-profile .nav-link .user-wrapper .text-wrapper .designation {
    margin-right: 3px;
}


.card {
    border: none;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    border-radius: 2px;
}

.icon-lg {
    font-size: 2.5rem;
}

.icon-md {
    font-size: 1.875rem;
}

.icon-sm {
    font-size: 1rem;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.grow.grow-sm:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.input-error {
    border-color: #d9534f;
}

@keyframes dropdownAnimation {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }

    to {
        opacity: 1;
        transform: none;
        transform: translate3d(0, 0px, 0);
    }
}

.navbar-dropdown {
    animation-name: dropdownAnimation;
    -webkit-animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    -ms-animation-duration: 0.25s;
    -o-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}




.noUi-target {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.noUi-target.noUi-horizontal {
    height: 0.25rem;
}

.noUi-target.noUi-horizontal .noUi-handle {
    left: -17px;
}

.noUi-target.noUi-vertical {
    width: 0.25rem;
    height: 156px;
    display: inline-block;
}

.noUi-target.noUi-vertical .noUi-handle {
    left: -6px;
}

.noUi-target .noUi-base {
    background: #e5e5e5;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.noUi-target .noUi-base .noUi-connect {
    background: #2196f3;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.noUi-target .noUi-base .noUi-origin {
    background: #19d895;
}

.noUi-target .noUi-base .noUi-origin .noUi-handle {
    position: absolute;
    background: #ffffff;
    border-radius: 100%;
    border: 1px solid #f2f2f2;
    width: 18px;
    height: 18px;
    top: -7px;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.noUi-target .noUi-base .noUi-origin .noUi-handle:after,
.noUi-target .noUi-base .noUi-origin .noUi-handle:before {
    display: none;
}

.noUi-target .noUi-base .noUi-origin .noUi-handle:after {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 6px;
    height: 6px;
    background: #2196f3;
    border-radius: 100%;
}

.noUi-target .noUi-base .noUi-origin .noUi-handle .noUi-tooltip {
    font-family: "Poppins", sans-serif;
    border-radius: 4px;
    border: none;
    line-height: 1;
    font-size: 0.875rem;
    padding: 4px 12px;
    bottom: 120%;
}

.noUi-target .noUi-pips .noUi-marker-horizontal,
.noUi-target .noUi-pips .noUi-marker-vertical {
    background: #f2f2f2;
}

.noUi-target .noUi-pips .noUi-marker-horizontal {
    height: 9px;
    width: 1px;
}

.noUi-target .noUi-pips .noUi-marker-vertical {
    height: 1px;
    width: 9px;
}

.noUi-target .noUi-pips .noUi-value {
    color: #000;
    font-size: 0.94rem;
    font-family: "Poppins", sans-serif;
}

.slider-success .noUi-base .noUi-connect {
    background: #00ce68;
}

.slider-success .noUi-base .noUi-origin {
    background: #00ce68;
}

.slider-success .noUi-base .noUi-origin .noUi-handle:after {
    background: #00ce68;
}

.slider-success .noUi-base .noUi-origin .noUi-handle .noUi-tooltip {
    background: #00ce68;
    color: #ffffff;
}

/* Slider Color variations */
/* .slider-primary .noUi-base .noUi-connect {
    background: #2196f3;
}

.slider-primary .noUi-base .noUi-origin {
    background: #2196f3;
}

.slider-primary .noUi-base .noUi-origin .noUi-handle:after {
    background: #2196f3;
}

.slider-primary .noUi-base .noUi-origin .noUi-handle .noUi-tooltip {
    background: #2196f3;
    color: #ffffff;
}

.slider-secondary .noUi-base .noUi-connect {
    background: #e6eef2;
}

.slider-secondary .noUi-base .noUi-origin {
    background: #e6eef2;
}

.slider-secondary .noUi-base .noUi-origin .noUi-handle:after {
    background: #e6eef2;
}

.slider-secondary .noUi-base .noUi-origin .noUi-handle .noUi-tooltip {
    background: #e6eef2;
    color: #ffffff;
}

.slider-success .noUi-base .noUi-connect {
    background: #19d895;
}

.slider-success .noUi-base .noUi-origin {
    background: #19d895;
}

.slider-success .noUi-base .noUi-origin .noUi-handle:after {
    background: #19d895;
}

.slider-success .noUi-base .noUi-origin .noUi-handle .noUi-tooltip {
    background: #19d895;
    color: #ffffff;
}

.slider-info .noUi-base .noUi-connect {
    background: #8862e0;
}

.slider-info .noUi-base .noUi-origin {
    background: #8862e0;
}

.slider-info .noUi-base .noUi-origin .noUi-handle:after {
    background: #8862e0;
}

.slider-info .noUi-base .noUi-origin .noUi-handle .noUi-tooltip {
    background: #8862e0;
    color: #ffffff;
}

.slider-warning .noUi-base .noUi-connect {
    background: #ffaf00;
}

.slider-warning .noUi-base .noUi-origin {
    background: #ffaf00;
}

.slider-warning .noUi-base .noUi-origin .noUi-handle:after {
    background: #ffaf00;
}

.slider-warning .noUi-base .noUi-origin .noUi-handle .noUi-tooltip {
    background: #ffaf00;
    color: #ffffff;
}

.slider-danger .noUi-base .noUi-connect {
    background: #ff6258;
}

.slider-danger .noUi-base .noUi-origin {
    background: #ff6258;
}

.slider-danger .noUi-base .noUi-origin .noUi-handle:after {
    background: #ff6258;
}

.slider-danger .noUi-base .noUi-origin .noUi-handle .noUi-tooltip {
    background: #ff6258;
    color: #ffffff;
}

.slider-light .noUi-base .noUi-connect {
    background: #fbfbfb;
}

.slider-light .noUi-base .noUi-origin {
    background: #fbfbfb;
}

.slider-light .noUi-base .noUi-origin .noUi-handle:after {
    background: #fbfbfb;
}

.slider-light .noUi-base .noUi-origin .noUi-handle .noUi-tooltip {
    background: #fbfbfb;
    color: #ffffff;
}

.slider-dark .noUi-base .noUi-connect {
    background: #252C46;
}

.slider-dark .noUi-base .noUi-origin {
    background: #252C46;
}

.slider-dark .noUi-base .noUi-origin .noUi-handle:after {
    background: #252C46;
}

.slider-dark .noUi-base .noUi-origin .noUi-handle .noUi-tooltip {
    background: #252C46;
    color: #ffffff;
}

.noUi-target {
    position: relative;
    direction: ltr
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1
}

.noUi-connect {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0
}

.noUi-origin {
    position: absolute;
    height: 0;
    width: 0
}

.noUi-handle {
    position: relative;
    z-index: 1
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
    -webkit-transition: top .3s, right .3s, bottom .3s, left .3s;
    transition: top .3s, right .3s, bottom .3s, left .3s
}

.noUi-state-drag * {
    cursor: inherit !important
}

.noUi-base,
.noUi-handle {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.noUi-horizontal {
    height: 18px
}

.noUi-horizontal .noUi-handle {
    width: 34px;
    height: 28px;
    left: -17px;
    top: -6px
}

.noUi-vertical {
    width: 18px
}

.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    left: -6px;
    top: -17px
}

.noUi-target {
    background: #FAFAFA;
    border-radius: 4px;
    border: 1px solid #D3D3D3;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB
}

.noUi-connect {
    background: #3FB8AF;
    border-radius: 4px;
    box-shadow: inset 0 0 3px rgba(51, 51, 51, .45);
    -webkit-transition: background 450ms;
    transition: background 450ms
}

.noUi-draggable {
    cursor: ew-resize
}

.noUi-vertical .noUi-draggable {
    cursor: ns-resize
}

.noUi-handle {
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #FFF;
    cursor: default;
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB
}

.noUi-active {
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB
}

.noUi-handle:after,
.noUi-handle:before {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #E8E7E6;
    left: 14px;
    top: 6px
}

.noUi-handle:after {
    left: 17px
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px
}

.noUi-vertical .noUi-handle:after {
    top: 17px
}

[disabled] .noUi-connect {
    background: #B8B8B8
}

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
    cursor: not-allowed
}

.noUi-pips,
.noUi-pips * {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.noUi-pips {
    position: absolute;
    color: #999
}

.noUi-value {
    position: absolute;
    white-space: nowrap;
    text-align: center
}

.noUi-value-sub {
    color: #ccc;
    font-size: 10px
}

.noUi-marker {
    position: absolute;
    background: #CCC
}

.noUi-marker-large,
.noUi-marker-sub {
    background: #AAA
}

.noUi-pips-horizontal {
    padding: 10px 0;
    height: 80px;
    top: 100%;
    left: 0;
    width: 100%
}

.noUi-value-horizontal {
    -webkit-transform: translate3d(-50%, 50%, 0);
    transform: translate3d(-50%, 50%, 0)
}

.noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px
}

.noUi-marker-horizontal.noUi-marker-sub {
    height: 10px
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 15px
}

.noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%
}

.noUi-value-vertical {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    padding-left: 25px
}

.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px
}

.noUi-marker-vertical.noUi-marker-sub {
    width: 10px
}

.noUi-marker-vertical.noUi-marker-large {
    width: 15px
}

.noUi-tooltip {
    display: block;
    position: absolute;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #fff;
    color: #000;
    padding: 5px;
    text-align: center;
    white-space: nowrap
}

.noUi-horizontal .noUi-tooltip {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 120%
}

.noUi-vertical .noUi-tooltip {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    right: 120%
} */
